/* App.css */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.App {
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    /* Red gradient background */
    background: linear-gradient(135deg, #ff0000 0%, #8b0000 100%);
}
